<h1>Meow</h1>

<% @posts.each do |post| %>
  <%= image_tag post.image.url %>
  <%= pluralize(post.meows.count, 'Meow') %>
  <%= button_to "Meow", post_meows_path(post), method: :post %>
  <p><%= post.description %></p>
<% end %>
